<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Applications">
			<action name="Execute">
				<execute>thunar /usr/share/applications</execute>
			</action>
		</item>
		<separator/>
		<item label="Firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item label="Galculator">
			<action name="Execute">
				<execute>galculator</execute>
			</action>
		</item>
		<item label="LxTask">
			<action name="Execute">
				<execute>lxtask</execute>
			</action>
		</item>
		<item label="Terminator">
			<action name="Execute">
				<execute>terminator</execute>
			</action>
		</item>
		<item label="Thunar">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'menu' package to work -->
		<separator/>
		<menu id="root-menu-565022" label="Accessories">
			<item label="Galculator">
				<action name="Execute">
					<execute>galculator</execute>
				</action>
			</item>
			<item label="Geany">
				<action name="Execute">
					<execute>geany</execute>
				</action>
			</item>
			<item label="Take Screenshot">
				<action name="Execute">
					<execute>xfce4-screenshooter</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-381051" label="Office">
			<item label="Evince PDF">
				<action name="Execute">
					<execute>evince</execute>
				</action>
			</item>
			<item label="Geany">
				<action name="Execute">
					<execute>geany</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-735254" label="Media">
			<item label="Pavucontrol">
				<action name="Execute">
					<execute>pavucontrol</execute>
				</action>
			</item>
			<item label="Viewnior Pic Viewer">
				<action name="Execute">
					<execute>viewnior</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-464924" label="Desktop Settings">
			<menu id="root-menu-464924-32461" label="Openbox">
				<item label="Ob Autostart (root)">
					<action name="Execute">
						<execute>gksudo geany /etc/xdg/openbox/autostart</execute>
					</action>
				</item>
				<item label="Ob Conf (Apperance and Themes)">
					<action name="Execute">
						<execute>obconf</execute>
					</action>
				</item>
				<item label="Ob Menu (Menu Editor)">
					<action name="Execute">
						<execute>obmenu</execute>
					</action>
				</item>
				<item label="Ob Keyboard Shortcuts">
					<action name="Execute">
						<execute>geany ~/.config/openbox/rc.xml</execute>
					</action>
				</item>
				<item label="Ob Restart">
					<action name="Restart"/>
				</item>
				<item label="Ob Reconfigure">
					<action name="Reconfigure"/>
				</item>
			</menu>
			<menu id="client-list-menu"/>
			<menu id="root-menu-464924-284925" label="Tint2">
				<item label="Tint2 Settings">
					<action name="Execute">
						<execute>geany ~/.config/tint2/tint2rc</execute>
					</action>
				</item>
			</menu>
		</menu>
		<menu id="root-menu-325221" label="System Tools">
			<item label="Gparted (root)">
				<action name="Execute">
					<execute>gksudo gparted</execute>
				</action>
			</item>
			<item label="LxTask">
				<action name="Execute">
					<execute>lxtask</execute>
				</action>
			</item>
			<item label="Synaptic (root)">
				<action name="Execute">
					<execute>gksudo synaptic</execute>
				</action>
			</item>
			<item label="Terminator">
				<action name="Execute">
					<execute>terminator</execute>
				</action>
			</item>
			<item label="Terminator (root)">
				<action name="Execute">
					<execute>gksudo terminator</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Exit">
			<action name="Execute">
				<execute>cb-exit</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
